p {
  color: red;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif
}
h2 {
  color: blueviolet
}
li {
  color: green
}
h1 {
  color: blue
}
li {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
